<!DOCTYPE html>
<html>
  <head>
    <title>Contributter - Let's tweet your contributions.</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content="Contributter" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://contributter.potato4d.me" />
    <meta property="og:image" content="https://contributter.potato4d.me/ogp.png" />
    <meta property="og:site_name" content="Contributter" />
    <meta property="og:description" content="Let's tweet your contributions." />

    <meta name="twitter:card" content="summary" />
    <link href="/favicon.png" rel="icon" type="image/png">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if ENV['RAILS_ENV'] == 'production' %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= ENV['GA_ID']%>');
      </script>
    <% end %>
  </body>
</html>
